extends layout

block content
  .row
    .col-12.col-md-6
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora quaerat sequi, reiciendis culpa tempore exercitationem dolor dolorem. Officiis eligendi eveniet vitae omnis ex molestias, iste incidunt illum, reiciendis veniam odit.
    .col-12.col-md-6
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora quaerat sequi, reiciendis culpa tempore exercitationem dolor dolorem. Officiis eligendi eveniet vitae omnis ex molestias, iste incidunt illum, reiciendis
  .row
    .col-12.col-md-3.offset-md-3
      .card
        img.card-img-top(src='' alt='')
        .card-body
          h5.card-title Carta Izquierda
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          a.btn.btn-primary(href='#') Go somewhere
    .col-12.col-md-3
      .card
        img.card-img-top(src='' alt='')
        .card-body
          h5.card-title Carta Derecha
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          a.btn.btn-primary(href='#') Go somewhere