extends layout.pug

block content
  h1 PUG
  h1 Título de la página
  h2 Subtítulo
  div 
    p Contenido del párrafo

  div
    a(href="http://www.google.com") Google.com
    br
    a#enlaceYoutube.enlace.principal(href="http://www.youtube.com") Youtube

  div
    p= name
    p Me llamo #{name}

  div
    if available 
      p Está disponible
    else
      p No está disponible

  div 
    ul
      - for(let i=0; i<animals.length; i++)
          li= animals[i]

  div
    - animals =[];
    //Comentatio HTML
    //- Comentario PUG
    ul
      each animal in animals
        li Animal: #{animal}
      else
        li No hay animales